* {
  box-shadow: 0 0 0 1px red inset;
  
}

html {
  height: 100%;
  width: 100%;
  background-color: darkgrey;
  display: flex;
  justify-content: center;
}

body {
  

}
.main-div{
  background-color: #535050;
  margin: 2vw;
  border-radius: 2vw;
  
}

.main-table {
  margin: 2vw;  
  border-collapse: separate; 
  text-indent: initial;
  border-color: gray;
  box-shadow: 0 0 0 1px red inset;
}


input{
  text-align: center;
  width: 80%;
}
  
@media screen and (min-width:1000px){





  
}