* {
  box-shadow: 0 0 0 1px red inset;
  
}

html {
  height: 100%;
  width: 100%;
  background-color: darkgrey;
}

body {
  background-color: #8a8888;
  text-align: center;
  margin: auto;

}


.main-table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 0px;
  border-color: gray;
}

.table-style {
  width: 100%;

}

.table-input {

}

td{
  text-align: center;
}
input{
  text-align: center;
  width: 90%;
}
  
@media screen and (min-width:1000px){
  
}